.PDAlsoLike {
  composes: flex--col--center from global;

  gap: 40px;
}

.list {
  composes: flex--col--center from global;

  gap: 56px;
}

.item {
  composes: flex--col--center from global;

  gap: 32px;
}

.productName {
  composes: title from global;
  font-size: var(--fs-24);
  letter-spacing: 1.71px;

  white-space: nowrap;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .list {
    flex-direction: row;
    align-items: center;

    gap: 11px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .PDAlsoLike {
    gap: 64px;
  }

  .list {
    gap: 30px;
  }
}
