.PDFeatures {
  composes: flex--col--left from global;

  gap: 88px;

  width: 100%;
}

.containerFeatures,
.containerBox {
  composes: flex--col--left from global;
  gap: 24px;
}

.featuresInfo {
  composes: flex--col--left from global;
  gap: 16px;

  max-width: 688px;
}

.boxPair {
  composes: flex--row--left from global;
  gap: 24px;
}

/* Tablet */
@media (min-width: 600px) {
  .containerFeatures {
    gap: 32px;
  }

  .PDFeatures {
    gap: 120px;
  }

  .containerBox {
    display: grid;

    grid-template-columns: 1fr 1fr;

    width: 100%;
  }

  .containerBox :global(ul) {
    line-height: 200%;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .PDFeatures {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }

  .containerFeatures {
    max-width: 635px;
    padding-right: 64px;
  }

  .featuresInfo {
    max-width: unset;
  }

  .containerBox {
    min-width: 210px;
    max-width: 350px;
    grid-template-columns: 1fr;

    width: 100%;
  }
}

/* WS Monitors */
@media (min-width: 1300px) {
  .PDFeatures {
    justify-content: flex-start;
  }

  .containerFeatures {
    max-width: 635px;
    padding-right: unset;
    margin-right: 125px;
  }
}
