.PDMain {
  composes: flex--col--center from global;

  align-items: flex-start;

  gap: 32px;
}

.containerInfo {
  composes: flex--col--left from global;

  gap: 32px;
}

.copy {
  composes: flex--col--left from global;

  gap: 24px;
}

.PDMTag {
  composes: tag from global;
  color: var(--clr-orange-matte-el);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .PDMain {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: unset;
  }

  .pictureContainer {
    width: 50%;

    padding-right: 64px;
  }

  .containerInfo {
    width: 50%;
  }

  .copy {
    gap: 32px;
  }

  .PDMTag {
    font-size: var(--fs-12);
    letter-spacing: 8.5px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .pictureContainer {
    width: 50%;

    padding-right: unset;
  }

  .containerInfo {
    padding-left: 72px;
  }

  .copy {
    max-width: 445px;
  }

  .copy :global(.title--show) {
    max-width: 250px;
  }
}
