.PDMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 32px;
}

.containerInfo {
  composes: flex--col--left from global;

  gap: 32px;
}

.copy {
  composes: flex--col--left from global;

  gap: 24px;
}

.PDMTag {
  composes: tag from global;
  color: var(--clr-orange-matte-el);
}
