.ProductDisplay {
  composes: flex--col--center from global;

  gap: 88px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .ProductDisplay {
    gap: 120px;
  }
}
