.Showcase {
  composes: flex--col--center from global;

  gap: 24px;

  text-align: center;
}

.showcaseItem {
  border-radius: 8px;

  width: 100%;
}

.showcaseItemA {
  background: url('/assets/icons/pattern-circles.svg') no-repeat 50% -125px;
  background-color: var(--clr-orange-matte-el);
  background-size: cover;

  padding: 55px 24px;

  composes: flex--col--center from global;

  gap: 32px;
}

.imgAContainer {
  width: 62%;
  height: auto;
}

.copy {
  composes: flex--col--center from global;

  gap: 24px;

  max-width: 350px;
}

.widthHelper {
  max-width: 200px;
}

.showcaseItemB {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 101px 24px;

  composes: flex--col--center from global;

  align-items: flex-start;
  gap: 32px;
}

.showcaseItemC {
  composes: flex--col--stretch from global;

  gap: 24px;
}

.showcaseImgContainer :global img {
  border-radius: 8px;
}

.showcaseCopyContainer {
  border-radius: 8px;

  background-color: var(--clr-grey-el);

  padding: 42px 24px;

  composes: flex--col--center from global;

  align-items: flex-start;
  gap: 32px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .showcaseItemA {
    background: url('/assets/icons/pattern-circles.svg') no-repeat 50% 120%;
    background-color: var(--clr-orange-matte-el);
    background-size: 140%;

    padding-top: 52px;
    padding-bottom: 64px;

    gap: 64px;
  }

  .imgAContainer {
    width: 31%;
  }

  .copy :global .button {
    margin-top: 16px;
  }

  .widthHelper {
    max-width: unset;
  }

  .showcaseItemB {
    padding: 101px 64px;
  }

  .showcaseItemC {
    flex-direction: row;

    gap: 12px;
  }

  .showcaseItemC .showcaseImgContainer,
  .showcaseItemC .showcaseCopyContainer {
    width: 50%;
    /* flex: 1 1 0; */
  }

  .showcaseCopyContainer {
    text-align: left;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .Showcase {
    gap: 48px;
  }

  .showcaseItemA {
    background: url('/assets/icons/pattern-circles.svg') no-repeat -200px 0%;
    background-color: var(--clr-orange-matte-el);
    background-size: 100%;

    padding: unset;

    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    gap: unset;

    overflow: hidden;
  }

  .imgAContainer {
    width: 50%;

    position: relative;
  }

  .imgA {
    position: absolute;
    bottom: -10px;
    right: 10%;
    width: 80%;

    max-width: 320px;
  }

  .showcaseItemA .copyAContainer {
    width: 50%;

    height: 100%;

    padding-top: 88px;
    padding-bottom: 82px;
    padding-left: 48px;
    padding-right: 32px;
  }

  .copy {
    align-items: flex-start;

    text-align: left;
    max-width: unset;
  }

  .showcaseItemB {
    padding-left: 64px;
  }

  .showcaseItemC {
    gap: 30px;
  }

  .showcaseItemC .showcaseCopyContainer {
    padding-left: 64px;
  }
}
