.CheckoutConfirmation {
  background: var(--clr-white);

  padding-left: 24px;
  padding-right: 24px;

  padding-top: 32px;
  padding-bottom: 32px;

  margin-top: 24px;

  composes: flex--col--stretch from global;

  gap: 24px;

  border-radius: 8px;
}

.copy {
  composes: flex--col--left from global;

  gap: 16px;
}

.title {
  composes: title--s from global;
  composes: title from global;

  padding-right: 16px;
}

.orderInfo {
  composes: flex--col--stretch from global;
}

.upper {
  background-color: var(--clr-grey-el);

  padding: 24px 24px 16px;

  border-radius: 8px 8px 0 0;

  composes: flex--col--stretch from global;

  gap: 6px;
}

.pair {
  composes: flex--row--space-between from global;
}

.lower {
  composes: flex--col--left from global;

  gap: 6px;

  background-color: var(--clr-black);
  padding-left: 24px;
  padding-right: 24px;

  padding-top: 14px;
  padding-bottom: 16px;

  border-radius: 0 0 8px 8px;
}

.grandTotal {
  composes: text from global;
  color: var(--clr-white-diluted-text);

  text-transform: uppercase;
}

.price {
  composes: price from global;
  color: var(--clr-white);
}

.button {
  composes: button from global;
  composes: button--orange-matte from global;
  width: 100%;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .title {
    font-size: var(--fs-32);

    max-width: 270px;

    padding-right: unset;
  }

  .CheckoutConfirmation {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;

    padding: 48px;

    gap: 32px;
  }

  .copy {
    gap: 24px;
  }

  .buttonArea {
    margin-top: 16px;
  }
}
