.ThumbnailItemData {
  composes: flex--col--end from global;

  width: 100%;

  position: relative;

  height: 218px;

  overflow: hidden;
}

.thumbnailContainer {
  composes: flex--col--end from global;

  width: 100%;

  text-align: center;
  border-radius: 8px;
  padding-bottom: 22px;
  background-color: var(--clr-grey-el);

  height: 165px;
}

.thumbnailImg {
  position: absolute;
  bottom: 28%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 50%;
  max-width: 160px;
  height: auto;
}

.btnContainer {
  composes: flex--row--center from global;

  gap: 13px;

  margin-top: 16px;
}

.btn {
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-13);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--clr-black-diluted-text);

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--clr-orange-matte-el);
  transition: all 350ms linear;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .ThumbnailItemData {
    height: 217px;
  }

  .thumbnailImg {
    bottom: 43%;

    transform: translate(-50%, 10%);

    width: 80%;
    max-width: 140px;
    height: auto;
  }

  .thumbnailContainer {
    height: 165px;
  }
}
