.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  background-color: var(--clr-black);

  padding-top: 52px;
  padding-bottom: 38px;

  text-align: center;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .Footer {
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto;

    grid-template-areas:
      'title title'
      'nav nav'
      'copyText copyText'
      'copyRight iconsGroupContainer';

    row-gap: 32px;

    padding-top: 60px;
    padding-bottom: 48px;
  }

  .titleArea {
    grid-area: title;

    text-align: left;
  }

  .navInFooterContainer {
    grid-area: nav;
  }

  .copyText {
    grid-area: copyText;

    text-align: left;
  }

  .copyRight {
    grid-area: copyRight;

    text-align: left;

    margin-top: 48px;
  }
  .iconsGroupContainer {
    grid-area: iconsGroupContainer;

    margin-top: 48px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .Footer {
    grid-template-areas:
      'title nav'
      'copyText .'
      'copyText iconsGroupContainer'
      'copyRight .';

    row-gap: 36px;

    padding-top: 75px;
    padding-bottom: 48px;
  }

  .copyText {
    max-width: 540px;
  }

  .iconsGroupContainer ul {
    justify-content: end;
  }

  .copyRight {
    margin-top: 20px;
  }
}
