.Header {
  background: var(--clr-black);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.icon {
  composes: icon-btn from global;
}

.icon:hover path,
.icon:focus path {
  fill: var(--clr-orange-matte-el);
  transition: all 350ms linear;
}
