.Header {
  background: var(--clr-black);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;

  position: relative;
}

.logo {
  composes: logo from global;
}

.icon {
  composes: icon-btn from global;
}

.icon:hover path,
.icon:focus path {
  fill: var(--clr-orange-matte-el);
  transition: all 350ms linear;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .Header::after {
    content: '';
    width: calc(100% - 80px);
    height: 1px;
    background: var(--clr-white);
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: calc(h-padding);
  }

  .logo {
    margin-left: 42px;
    margin-right: auto;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .Header {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .Header::after {
    width: calc(100% - 160px);
  }

  .logo {
    order: -1;
    margin-left: unset;
    margin-right: unset;
  }
}

/* WS Monitors */
@media (min-width: 1285px) {
  .Header > * {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
}
