.ProductPreviewGroup {
  padding-top: 64px;

  text-align: center;
}

.PPGList {
  composes: flex--col--center from global;

  gap: 120px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .ProductPreviewGroup {
    padding-top: 120px;
  }
}
