.ProductFamily {
  padding-bottom: 120px;
}

.PFContainer {
  display: flex;
  flex-direction: column;

  composes: h-padding from global;

  gap: 120px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .ProductFamily {
    padding-bottom: 160px;
  }

  .PFContainer {
    gap: 164px;
  }
}
