.Hero {
  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;

  composes: flex--row--center from global;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.copy {
  composes: flex--col--center from global;

  gap: 24px;

  max-width: 380px;
}

/* Only to have descendant selectors in CSS Modules */
.copy :global .title {
  margin-top: 16px;
}

.copy :global .text {
  max-width: 350px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .copy :global .title {
    margin-top: 24px;
  }

  .Hero {
    padding-top: 126px;
    padding-bottom: 167px;
  }

  .Hero :global .button {
    margin-top: 16px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .Hero {
    padding-top: 128px;
    padding-bottom: 158px;

    justify-content: flex-start;
  }

  .copy {
    gap: 24px;

    align-items: flex-start;

    text-align: left;

    max-width: 380px;
  }
}
