.IconsGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* .ig path {
  fill: blue;
} */

.icon:hover path,
.icon:focus path {
  fill: var(--clr-orange-matte-el);
  transition: all 350ms linear;
}
