.IconsGroup {
  composes: flex--row--center from global;

  gap: 16px;
}

/* .ig path {
  fill: blue;
} */

.icon:hover path,
.icon:focus path {
  fill: var(--clr-orange-matte-el);
  transition: all 350ms linear;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .IconsGroup {
    justify-content: flex-end;
  }
}
