.Navbar {
}

.nav_header {
}

.nav_header .linkList {
  display: none;
}

/* Styles applied when the Navbar is positioned in the Footer */
.nav_footer {
}

.nav_footer .hamburgerContainer {
  display: none;
}

.nav_footer .linkList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .nav_footer .linkList {
    flex-direction: row;
    justify-content: flex-start;

    gap: 34px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .nav_header .hamburgerContainer {
    display: none;
  }

  .nav_header .linkList {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 34px;
  }
}
