.SectionHeader {
  background-color: var(--clr-black);

  padding-top: 32px;
  padding-bottom: 32px;

  text-align: center;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .SectionHeader {
    padding-top: 104px;
    padding-bottom: 96px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .SectionHeader {
    padding-top: 98px;
  }
}
