.Checkout {
  background: var(--clr-grey-el);

  padding-top: 16px;
  padding-bottom: 96px;
}

.checkoutTitle {
  composes: title from global;
}

.formCheckoutWrapper {
  composes: flex--col--stretch from global;

  gap: 32px;
}

.emptyCart {
  background: var(--clr-white);

  margin-top: 24px;

  composes: flex--col--left from global;
  gap: 16px;

  padding: 24px;
}

.emptyCartTitle {
  composes: title--s from global;
  text-transform: uppercase;
  letter-spacing: unset;
}
.emptyCartSpan {
  composes: title--xs from global;
  text-transform: uppercase;
  letter-spacing: unset;
  font-weight: var(--fw-bold);

  color: var(--clr-orange-matte-el);
}

/* Checkout form styles */

.checkoutForm {
  background: var(--clr-white);

  padding-left: 24px;
  padding-right: 24px;

  padding-top: 24px;
  padding-bottom: 32px;

  margin-top: 24px;

  composes: flex--col--stretch from global;

  gap: 32px;

  border-radius: 8px;
}

.formContainer {
  composes: flex--col--stretch from global;

  gap: 32px;
}

.formSection {
  composes: flex--col--stretch from global;

  gap: 16px;
}

.billingGroup,
.shippingGroup {
}

.cardGroup {
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 24px;
}

.formInputAndLabel {
  composes: flex--col--stretch from global;
  gap: 8px;
}

.inputCheckout {
  width: 100%;
}

.inputCheckout:focus {
  border: solid 1px var(--clr-orange-matte-el);
  outline: none;
}

.checkoutSummaryContainer {
  composes: flex--col--stretch from global;
  gap: 32px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .Checkout {
    background: var(--clr-grey-el);

    padding-top: 48px;
    padding-bottom: 116px;
  }

  .billingGroup,
  .shippingGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }

  .cardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }
}

/* WideScreen Monitors */
@media (min-width: 1100px) {
  .checkoutTitle {
    font-size: var(--fs-32);
  }

  .formCheckoutWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 32px;
  }

  .checkoutForm {
    flex: 1;

    gap: 40px;

    margin-top: unset;
    padding: 54px 48px;
  }

  .formContainer {
    gap: 52px;
  }

  .checkoutSummaryContainer {
    flex: 1;
    max-width: 350px;
  }
}

/* WS Monitors */
@media (min-width: 1285px) {
  .CheckoutContainer {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
