.Checkout {
  background: var(--clr-grey-el);

  padding-top: 16px;
  padding-bottom: 96px;
}

.formCheckoutWrapper {
  composes: flex--col--stretch from global;

  gap: 32px;
}

.emptyCart {
  background: var(--clr-white);

  margin-top: 24px;

  composes: flex--col--left from global;
  gap: 16px;

  padding: 24px;
}

.emptyCartTitle {
  composes: title--s from global;
  text-transform: uppercase;
  letter-spacing: unset;
}
.emptyCartSpan {
  composes: title--xs from global;
  text-transform: uppercase;
  letter-spacing: unset;
  font-weight: var(--fw-bold);

  color: var(--clr-orange-matte-el);
}

/* Checkout form styles */

.checkoutForm {
  background: var(--clr-white);

  padding-left: 24px;
  padding-right: 24px;

  padding-top: 24px;
  padding-bottom: 32px;

  margin-top: 24px;

  composes: flex--col--stretch from global;

  gap: 32px;

  border-radius: 8px;
}

.formContainer {
  composes: flex--col--stretch from global;

  gap: 32px;
}

.formSection {
  composes: flex--col--stretch from global;

  gap: 16px;
}

.formGroup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 24px;
}

.formInputAndLabel {
  composes: flex--col--stretch from global;
  gap: 8px;
}

.inputCheckout {
  width: 100%;
}

.inputCheckout:focus {
  border: solid 1px var(--clr-orange-matte-el);
  outline: none;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .Checkout {
    background: var(--clr-grey-el);

    padding-top: 48px;
    padding-bottom: 116px;
  }
}
