.CompanyMotto {
  composes: h-padding from global;

  composes: flex--col--center from global;

  gap: 40px;

  text-align: center;

  padding-bottom: 120px;
}

.imageContainer :global img {
  border-radius: 8px;
}

.copyContainer {
  composes: flex--col--center from global;

  gap: 32px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .CompanyMotto {
    padding-bottom: 96px;
  }

  .copyContainer {
    max-width: 575px;
  }
}
