.CompanyMotto {
  composes: flex--col--center from global;

  gap: 40px;

  text-align: center;
}

.imageContainer :global img {
  border-radius: 8px;
}

.copyContainer {
  composes: flex--col--center from global;

  gap: 32px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .CompanyMotto {
    padding-left: 0;
    padding-right: 0;

    gap: 64px;
  }

  .copyContainer {
    max-width: 575px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .CompanyMotto {
    flex-direction: row;
    justify-content: space-between;

    gap: 0;
  }

  .imageContainer {
    flex: 1 1 0;
  }

  .copyHalf {
    flex: 1 1 0;
    text-align: left;
    order: -1;
  }

  .copyContainer {
    max-width: 445px;

    padding-right: 32px;
  }
}
