.CompanyMotto {
  composes: h-padding from global;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  text-align: center;
}

.imageContainer :global img {
  border-radius: 8px;
}

.copyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
