.HomePage {
}

.container {
  padding-top: 40px;
  padding-bottom: 120px;
  composes: h-padding from global;

  composes: flex--col--stretch from global;

  gap: 120px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .container {
    padding-top: 96px;
    padding-bottom: 96px;

    gap: 96px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .container {
    padding-top: 120px;
    padding-bottom: 200px;

    gap: 168px;
  }
}

/* WS Monitors */
@media (min-width: 1285px) {
  .container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
}
