.HomePage {
}

.container {
  padding-top: 40px;

  composes: flex--col--stretch from global;

  gap: 120px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .container {
    padding-top: 96px;

    gap: 96px;
  }
}
