@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Manrope:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Manrope', sans-serif;
  --ff-secondary: 'Lexend', sans-serif;

  /* --fw-light: 300; */
  --fw-regular: 400;
  --fw-medium: 500;
  /* --fw-semi-bold: 600; */
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-50: 3.125em;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Basics */
  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);

  /* Text */
  --clr-black-diluted-text: hsla(0, 0%, 0%, 0.6);
  --clr-black-more-diluted-text: hsla(0, 0%, 0%, 0.5);
  --clr-white-semi-diluted-text: hsla(0, 0%, 100%, 0.75);
  --clr-white-diluted-text: hsla(0, 0%, 100%, 0.5);
  --clr-white-very-diluted-text: hsla(0, 0%, 100%, 0.2);

  /* Elements */
  --clr-grey-el: hsla(0, 0%, 95%, 1);
  --clr-orange-matte-el: hsla(22, 65%, 57%, 1);
  --clr-orange-diluted-el: hsla(22, 93%, 75%, 1);
  --clr-black-dark-el: hsla(0, 0%, 6%, 1);
  --clr-black-overlay-el: hsla(0, 0%, 0%, 0.4);
  --clr-dark-el: hsl(0, 0%, 30%);
  --clr-greyed-input-el: hsl(0, 0%, 81%);

  /* Background  */

  /* Others */
}

body {
  background: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-28);
  font-weight: var(--fw-bold);

  line-height: 1.35;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title--l {
  font-size: var(--fs-36);

  line-height: 1.1;
  letter-spacing: 1.3px;
}

.title--xl {
  font-size: var(--fs-40);
  letter-spacing: 1.3px;
}

.title--s {
  font-size: var(--fs-24);
  line-height: 1.16;
  letter-spacing: 0.86px;
}

.title--xs {
  font-size: var(--fs-18);
  letter-spacing: 1.29px;
}

.title--s__alt {
  font-size: var(--fs-24);
  letter-spacing: 0.86px;
}

.title--form-section {
  font-size: var(--fs-13);
  letter-spacing: 0.93px;
  color: var(--clr-orange-matte-el);
}

.title--show {
  font-size: var(--fs-28);
  font-weight: var(--fw-bold);

  line-height: 1.15;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text {
  font-size: var(--fs-15);
  font-weight: var(--fw-medium);
  line-height: 1.666;
}

.tag {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.label {
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
  letter-spacing: -0.2px;
}

.logo {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  font-size: var(--fs-20);
  line-height: 1;
}

.logo--l {
  font-size: var(--fs-24);
}

.price {
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
  line-height: 1.36;
  letter-spacing: 1.29px;
}

.box-units {
  font-size: var(--fs-15);
  font-weight: var(--fw-bold);
  color: var(--clr-orange-matte-el);
}

.checkout-info {
  font-size: var(--fs-15);
  font-weight: var(--fw-bold);
}

.helper-text-diluted-black {
  color: var(--clr-black-diluted-text);
}

.helper-text-white {
  color: var(--clr-white);
}
.helper-text-semi-diluted-white {
  color: var(--clr-white-semi-diluted-text);
}
.helper-text-diluted-white {
  color: var(--clr-white-diluted-text);
}

.helper-text-bold {
  font-weight: var(--fw-bold);
}

/* ======================== */
/* Links, buttons & inputs  */
/* ======================== */

.nav-link {
  font-size: var(--fs-13);
  font-weight: var(--fw-bold);
  line-height: 1.92;
  color: var(--clr-white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-orange-matte-el);
  transition: all 350ms linear;
}

.button {
  text-transform: uppercase;
  text-decoration: none;

  font-size: var(--fs-13);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  line-height: 1.36;
  padding: 13px 27px;

  display: inline-block;

  cursor: pointer;
}

.button:disabled {
  border: var(--clr-dark-el);
  background: var(--clr-dark-el);
  cursor: not-allowed;
}
.button:disabled:hover,
.button:disabled:focus {
  background: var(--clr-greyed-input-el);
}

.button--orange-matte {
  background: var(--clr-orange-matte-el);
  color: var(--clr-white);
  border: 1px solid var(--clr-orange-matte-el);
}

.button--orange-matte:hover,
.button--orange-matte:focus {
  background: var(--clr-orange-diluted-el);
  transition: all 350ms linear;
}

.button--black {
  color: var(--clr-white);
  background: var(--clr-black);
  border: 1px solid var(--clr-black);
}

.button--black:hover,
.button--black:focus {
  background: var(--clr-dark-el);
  transition: all 350ms linear;
}

.button--transparent {
  color: var(--clr-black);
  background: transparent;
  border: 1px solid var(--clr-black);
}

.button--transparent:hover,
.button--transparent:focus {
  color: var(--clr-white);
  background: var(--clr-black);
  transition: all 350ms linear;
}

.button--empty {
  text-transform: none;
  background-color: transparent;
  border: none;

  font-size: var(--fs-15);
  font-weight: var(--fw-medium);
  color: var(--clr-black-diluted-text);
  width: fit-content;
  padding: 6px 0;
}

.icon-btn {
  cursor: pointer;
}

input {
  border-radius: 8px;
  border: 1px solid var(--clr-greyed-input-el);
  padding: 16px 24px;

  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-14);
  letter-spacing: -0.25px;
}

input::placeholder {
  color: var(--clr-black-more-diluted-text);
}

/* ================== */
/* Utility styles */
/* ================== */
.h-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.flex--row--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex--row--space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex--row--left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex--col--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex--col--stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.flex--col--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex--col--end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.overlay {
  background-color: var(--clr-black-overlay-el);
  width: 100vw;
  height: 100vh;
  z-index: 10;

  /* transform: translate(-50%, -50%); */
  position: absolute;
  top: 0%;
  left: 0%;
}

.modal-card {
  position: absolute;
  top: 104px;
  left: 50%;
  transform: translate(-50%, 0%);

  background-color: var(--clr-white);
  width: calc(100% - 48px);
  border-radius: 8px;

  padding: 32px 28px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  /* Typography */
  .title {
    font-size: var(--fs-40);

    line-height: 1.1;
    letter-spacing: 1.43px;
  }

  .title--l {
    font-size: var(--fs-56);

    line-height: 1.035;
    letter-spacing: 2px;
  }

  .title--s {
    font-size: var(--fs-40);
    line-height: 1.1;
    letter-spacing: 1.43px;
  }

  .title--s__alt {
    font-size: var(--fs-32);
    letter-spacing: 1.14px;
  }

  .title--xs {
    font-size: var(--fs-15);
    letter-spacing: 1.07px;
  }

  /* Utility styles */
  .h-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  /* Typography */
  .title--xs {
    font-size: var(--fs-18);
    letter-spacing: 1.29px;
  }

  /* Utility styles */
  .h-padding {
    padding-left: 80px;
    padding-right: 80px;
  }
}
