.ProductDetailPage {
  padding-top: 16px;
  padding-bottom: 120px;
}

.container {
  composes: flex--col--center from global;

  align-items: initial;

  gap: 120px;

  margin-top: 24px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 600px) {
  .ProductDetailPage {
    padding-top: 32px;
    padding-bottom: 120px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .ProductDetailPage {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  .container {
    margin-top: 56px;

    gap: 160px;
  }
}
